[2021-09-30 14:42] vikhyatsingh123 opened #1 "good first issue"
You can see another character in the website link that I have given in the readme section. From there you can choose anyone.
I would love to see more new ones. It's okay if your favourite character is included and you still wish to contribute the same. But if that's not the case then please add new unique ones.

Happy Coding :)

[2021-09-30 14:44] vikhyatsingh123 opened #2 "Add more characters in the list"
You can see another character in the website link that I have given in the readme section. From there you can choose anyone.
Before contributing, I request you to visit the website once to see the characters that are already there. I would love to see more new ones. It's okay if your favorite character is included and you still wish to contribute the same. But if that's not the case then please ad

[2021-09-30 15:08] JanviRaina commented on #2
I would like to add more characters in this.

[2021-09-30 15:25] vikhyatsingh123 commented on #2
It's open for everyone. You can add it

[2021-09-30 16:46] nekonako commented on #2
hi @vikhyatsingh123, i have make pull request to add more character

[2021-09-30 17:04] PrajjwalPathak commented on #2
Hi @vikhyatsingh123, I would like to add a new character.
If you don't mind, can you please change the label from "hactoberfest" to "hacktoberfest".
I made the same mistake last year :)

[2021-10-01 00:14] jigarvyasidea commented on #1
I am good at this kind of issue.

[2021-10-01 05:10] agaveyonatan commented on #2
Hi @vikhyatsingh123 i would love to contribute to this project!

[2021-10-01 06:12] IshitaSingh23 commented on #2
hey @vikhyatsingh123  I would like to contribute in this project and add more characters to the website !

[2021-10-01 10:01] HiruniPerera commented on #2
Hi @vikhyatsingh123 I would love to contribute to your project and add more characters to your website!

[2021-10-01 10:25] Pensuveze opened #45 "Update contribution.md along with readme.md file."
@vikhyatsingh123 please assign it to me. also i want to add cardsand update the possible things in this repo..
thanks

[2021-10-01 10:27] singlapriyanka315 commented on #2
hi i would like to add more characters.

[2021-10-01 14:23] techyAdi1 commented on #2
Hi @vikhyatsingh123 I added Zabuza Momochi character in the index.html please accept my pr

[2021-10-01 15:57] Soham2020 commented on #2
### Hi @vikhyatsingh123
Plz review my PR.
My PR number is #57 .

[2021-10-01 16:05] raktim00 commented on #2
Hello @vikhyatsingh123, Please add my PR #58

[2021-10-01 17:58] #45 closed

[2021-10-02 05:24] KeyurChanchad opened #84 "Pull Request"
i can not send pull request

[2021-10-02 05:35] vikhyatsingh123 commented on #84
Just fork it and then add new card then send pull request

[2021-10-02 05:45] HarshitShukla01 commented on #84
please merge my pull request that i recently  added of card of gamabunta before anyone else pull request otherwise it will again cause conflicts if you accepts someone other than mine.

[2021-10-02 06:07] biplab25 commented on #2
Hi I would like to add more characters in this.

[2021-10-02 06:10] biplab25 commented on #2
hello @vikhyatsingh123
Plz review my PR.
My PR number is #87  .

[2021-10-02 07:29] yogesh2k21 commented on #1
can i change page UI?

[2021-10-02 07:38] PrashantHanda011 opened #91 "improved Ui"
i can improve the ui .as the colors are not matching with each other it needs a matching color which will improve the looking of this page

[2021-10-02 08:26] vikhyatsingh123 commented on #91
Ok, go on

[2021-10-02 08:33] SleepyAryan opened #94 "I can add social media button in the footer..They will look pretty nice"

[2021-10-02 08:41] vikhyatsingh123 commented on #94
Ok

[2021-10-02 08:41] #84 closed

[2021-10-02 09:28] SleepyAryan commented on #94
did you get it yet

[2021-10-02 09:44] SleepyAryan commented on #94
hello..can you check

[2021-10-02 12:00] SleepyAryan commented on #94
hey bro...can you approve the PR..or if there's any issues..you can tell me

[2021-10-02 13:15] vikhyatsingh123 opened #114 "Separate Heroes and Villains"
Also, add each character to their team. Add a team number as a heading.
Like:

Heroes
Team-7
[Naruto card]
[Sasuke card]
[Shakura card]

Team-11
[shikamaru card]
[]
[]
[]
.
.
.

Villains
[]
[]
.
.
.

[2021-10-02 13:26] jazxii commented on #114
can i take it up ?

[2021-10-02 13:34] SleepyAryan commented on #114
can i take this

[2021-10-02 13:49] AsmaIbrahimButt commented on #1
im good at this type issue

[2021-10-02 13:58] prwankhade16 commented on #2
Hi @vikhyatsingh123  please review my PR. My PR number is #55

[2021-10-02 14:23] vikhyatsingh123 commented on #114
@jazxii Do this

[2021-10-02 15:57] SleepyAryan commented on #114
can you please review PR#99

[2021-10-02 17:17] MuditWadhwa opened #132 "Add dark mode."
Hi, I would like to add dark mode to this website. Please assign this issue to me and add hacktoberfest label to it.

[2021-10-02 17:27] rounit08 commented on #114
Can I take this?

[2021-10-02 17:29] Shreyajaiswal11 commented on #132
i  would like to work on this

[2021-10-02 18:35] Evavic44 opened #136 "Fix wrong alt information on images"
Some characters have mismatched `alt=""` title.

# For example:

![Naruto_alt_issue](https://user-images.githubusercontent.com/62628408/135728063-7d7492b5-925a-494d-80de-1f9ecc19c5f8.png)

# Requested changes
Add correct `alt=""` title.

Will love to work on this if approved.

[2021-10-02 19:34] AbhinandanGautam opened #137 "Beautify"
I want to beautify this web page
1. Add some indentation to code
2. make look clean and beautiful

[2021-10-02 19:35] AbhinandanGautam commented on #137
please assign me this I am new to opensource and want to contribute

[2021-10-02 19:36] AbhinandanGautam commented on #137
Add hacktoberfest2021 label

[2021-10-02 21:29] vikhyatsingh123 commented on #136
not required. You can work on another issue.

[2021-10-02 21:29] #136 closed

[2021-10-02 22:06] NaveenKharwar opened #142 "Improvement: Simple HTML to ReactJS"
We can improve the performance and functionality by transforming this website from HTML to ReactJS. If possible, we can use NextJS or GatsbyJS.

Are are the list of improvements:
- [ ] HTML to ReactJS
- [ ] Vanilla CSS to TailwindCSS
- [ ] Add more.

[2021-10-02 22:07] NaveenKharwar commented on #142
@vikhyatsingh123 would you mind tagging this repo with `hactoberfest` and assigning this to me? If you want we can discuss this further.

[2021-10-03 01:01] techyAdi1 commented on #114
Can I take this

[2021-10-03 03:51] SoundaryaKhanapur commented on #114
may I do this?

[2021-10-03 09:08] vikhyatsingh123 commented on #142
@NaveenKharwar Ya, we can do that but still many are creating pr so, it will cause conflicts. So, we can do that once all pr get merged.

[2021-10-03 09:31] NaveenKharwar commented on #142
@vikhyatsingh123 Thanks. Yes, we can do this. Would you please assign this issue to me and tag it with `hactoberfest`.

[2021-10-03 10:14] WajihaFatim commented on #137
may I know what we have to beautify

[2021-10-03 12:27] priyaastha commented on #2
Hello, @vikhyatsingh123 sir Please review and merge my PR. My PR number is #165 . Thank you.

[2021-10-03 12:28] ashana1647 commented on #2
Hi @vikhyatsingh123  please review and merge my PR. My PR number is #166 . Thank you

[2021-10-03 13:17] vikhyatsingh123 commented on #137
nothing

[2021-10-03 13:17] #137 closed

[2021-10-03 13:53] prashant16oct commented on #2
Hi @vikhyatsingh123, i have solved some issue related to cards and navbar button. Please review my PR and merge it ( #173 ). Thank you

[2021-10-03 15:21] Gourav-s12 commented on #2
hello, @vikhyatsingh123  , i have added ebizo , a new character .
please review and add PR #178
and thank you for such a easy issue for beginner (i joined open contribution today )

[2021-10-03 16:53] Deepakv14 commented on #1
I want to do this. Can u assign this to me?

[2021-10-03 16:54] Deepakv14 commented on #1
I want to do this. Can u assign this to me?

[2021-10-03 16:54] iamartyaa commented on #2
Hye @vikhyatsingh123 , I would like to work on this issue.

[2021-10-03 18:49] shrutij11 commented on #114
i would like to work on ths

[2021-10-03 18:52] KulkarniKrishna commented on #1
hey, this is an interesting repository for beginners which is I am. Please, give me a chance to pull my first request. Hence, requesting you to assign me this. Thanks.

[2021-10-03 18:59] KulkarniKrishna commented on #2
Hey there! I am very interested in this topic I would love to contribute to this issue. Kindly give me chance. Thanks.

[2021-10-04 04:08] adityakumarsinha03 commented on #2
Hello @vikhyatsingh123  Please review and merge my PR. My PR number is #205  . Thank you.

[2021-10-04 04:49] striver-80 commented on #1
I will like to do this work. PLease assign it to me.

[2021-10-04 06:56] Admiral444 opened #211 "can i remove same character which are repeated"
i saw index.html page and i saw that some character are shown more than one time and its not good to see character again and again on same insted of some new character.

[2021-10-04 07:20] vikhyatsingh123 commented on #211
Ok

[2021-10-04 08:19] striver-80 commented on #2
Hello @vikhyatsingh123 please review and merge my PR. PR number #212 . Thanking you.

[2021-10-04 09:38] Admiral444 commented on #211
update the index.html file Please assign this issue to me and add hacktoberfest & hacktober-assigned label to it.

[2021-10-04 15:27] CHAMP010 commented on #1
Interested in improving the website!

[2021-10-04 20:28] vikhyatsingh123 commented on #114
ok, separate all heroes and villans

[2021-10-05 03:47] mukulsinghal407 commented on #91
can i help too

[2021-10-05 03:51] mukulsinghal407 opened #240 "Adding the Symbols of all the vilages"
All the symbols should be there in the header please allow me to add the same.

[2021-10-05 04:05] RushanNotOfficial opened #241 "Dark mode bugs"
Dark mode button isnt very pleasing to look at and, it is hidden from view.

[2021-10-05 04:12] sourav21kumar opened #243 "ISSUE IN THE MAIN <div class="container">"

[2021-10-05 07:01] harshalw07 opened #249 "Updating the Character card with good styling"
need to style the character card .

[2021-10-05 07:03] harshalw07 commented on #249
@vikhyatsingh123  can I work on this issue

[2021-10-05 08:32] mauryapradeep commented on #114
can i take this?

[2021-10-05 10:35] mrvishalsharma commented on #243
can you assing me this task i want to work on this issue please assing me this issue

[2021-10-05 13:54] 81188118 commented on #114
let me try this one.

[2021-10-05 18:21] aayusranjan opened #270 "Character is not in proper way after Shino Aburame"
can you assign me I wanna to fix it

[2021-10-05 19:08] DragonUncaged opened #271 "Search Button Not working.."

[2021-10-05 19:34] vikhyatsingh123 commented on #270
ok, do it

[2021-10-05 19:35] vikhyatsingh123 commented on #270
Also , add all the missing images there or maybe broken links

[2021-10-05 19:36] vikhyatsingh123 commented on #249
can you send screenshot, what will it look like

[2021-10-05 19:37] vikhyatsingh123 commented on #241
add it at the right side of the character heading with good icon

[2021-10-05 19:38] vikhyatsingh123 commented on #211
comment your pr here so that I can easily find out.

[2021-10-05 19:51] abhay-420 commented on #91
I would also like to contribute to improving the UI.
Can I also join?

[2021-10-05 19:54] vampnik commented on #241
Can I contribute to improving the Dark Mode?

[2021-10-05 20:49] Yash-RajSingh commented on #2
I can this issue. Please assign it to me

[2021-10-05 21:35] Arjun-Dagar commented on #271
I have created a PR by fixing this issue, please have a look. #272

[2021-10-06 04:12] pranit2001 commented on #132
please close this issue if PR successfully merged

[2021-10-06 09:34] aayusranjan commented on #270
Done pls check pr #284

[2021-10-06 09:35] aayusranjan commented on #270
There is repeated character if you want to fix it up, I can do that to

[2021-10-06 11:24] Yuktashettigar16 commented on #2
Hey @vikhyatsingh123 , I would like to work on this issue. Please assign

[2021-10-06 11:51] Into-Y0u commented on #249
Hello , Can i be assigned to work on these issue ??
I have done card design on my movie database website.
https://cranky-curie-678c36.netlify.app/

Hope this may help ...
waiting for your rep

[2021-10-06 12:23] harshalw07 commented on #249
@vikhyatsingh123  Take a look
Added: hover effect on card , hover border radius with shadow effect, and glassmorphim effect on cards with svg backgroung
![Screenshot (31)](https://user-images.githubusercontent.com/88126857/136201087-2e49ec7f-47ed-4fe3-80d8-26d5b4e13df4.png)

[2021-10-06 13:00] vikhyatsingh123 commented on #270
OK, but I want to do that at last.

[2021-10-06 13:00] #270 closed

[2021-10-06 13:02] vikhyatsingh123 commented on #249
Looking good, but change the background image. It's not matching with Naruto repo.

[2021-10-06 13:05] vikhyatsingh123 commented on #249
@harshalw07 I mean background image of website.

[2021-10-06 13:05] vikhyatsingh123 commented on #249
@Into-Y0u It's already made by harsh.

[2021-10-06 13:07] vikhyatsingh123 commented on #240
ok, send the screenshot of how will it look on the website.

[2021-10-06 13:08] vikhyatsingh123 commented on #94
comment your pr here. Also send a screenshot of how will it look like.

[2021-10-06 13:09] #91 closed

[2021-10-06 13:15] harshalw07 commented on #249
this is orange theme kurama naruto both tends to  orange and power
![Screenshot (32)](https://user-images.githubusercontent.com/88126857/136209540-325faa89-9291-4a7b-ba88-f872212c3189.png)

[2021-10-06 18:43] agraghav26 commented on #2
HI @vikhyatsingh123 !
I have added Might Guy, A new character.
Please review and add my PR #297
Regards

[2021-10-06 20:12] Khushboo288 commented on #2
I would Like to work on this as I am interested to contribute in this. Plz assign it to me.

[2021-10-07 08:45] vikhyatsingh123 commented on #249
@

ok, add this one

[2021-10-07 10:20] LucidMach opened #317 "SearchBar CSS Bug"
When you click on the search button, it opens and pushes the nav menu content

[2021-10-08 10:50] #241 closed

[2021-10-08 11:26] Shreyalytical opened #334 "want to add a Naruto Shippuden (all characters in one) image in the readme.md"
the readme.md with the title of naruto shippuden should be coupled up with the theme picture for the best series of all time.
i want to work on that.

[2021-10-08 15:08] Shreyalytical commented on #334
thankyou! I'd add changes right away!

[2021-10-08 18:50] #334 closed

[2021-10-08 18:51] vikhyatsingh123 commented on #240
Are you doing or not

[2021-10-08 19:24] Maaz-Code opened #345 "Adding scroll to top button"
#### I noticed that as there are lots of cards with different characters so if a person goes too down it's really annoying to get to the top, so I want to add a scroll to the top button to enhance the website's convenience.

[2021-10-08 19:46] Khushboo288 commented on #2
Hey, @vikhyatsingh123  I have added a new card, it is a unique which was not there before.
So plz review and Merge my PR #346

[2021-10-09 03:26] sadathshariff commented on #2
Hi @vikhyatsingh123 Would like to contribute to this can you assign me this issue

[2021-10-09 07:07] Maaz-Code commented on #345
@barunipriyats I created this issue so that I can work on it hence if you want to contribute please make an issue of your own.

[2021-10-09 07:09] Maaz-Code commented on #345
@vikhyatsingh123 Kindly assign this to me under Hacktoberfest to avoid further confusion.

[2021-10-09 12:48] md-jishan-ansari opened #362 "dark mode text is not fully functional"
If we click on dark mode button and background changed to light mode than dark mode text should we changed in light mode

[2021-10-09 12:48] md-jishan-ansari commented on #362
Please assign me this task I can add it

[2021-10-09 14:54] barunipriyats opened #367 "Modify the body of the website for mobile view"
Hi @vikhyatsingh123 I would like to make the webpage responsive for mobile view by aligning the body of the site. I am good in this kind of issue. I request you to ask this task to me. Thank you.

[2021-10-09 15:36] vikhyatsingh123 commented on #2
@TechnoFuge That card is already present there. Add new one

[2021-10-09 15:37] vikhyatsingh123 commented on #367
Ok, do it

[2021-10-09 23:45] Mannuel25 opened #370 "Overlaying Button"
![IMG_20211010_004157](https://user-images.githubusercontent.com/68563757/136676494-f7d2a333-38ac-4618-a313-3d3d42e8c1ed.jpg)
![IMG_20211010_004133](https://user-images.githubusercontent.com/68563757/136676492-ab29c8ce-7d36-47b1-8c02-57a7bf9db20f.jpg)

These buttons aren't well placed.. I'd like to fix this.

Kindly assign this to me. Thanks

[2021-10-10 03:22] B0s0 commented on #370
This issue is fixed by  #372

[2021-10-10 06:31] #370 closed

[2021-10-10 06:31] B0s0 opened #378 "[style][bug]Fix the overlapping div layers"
Overlapping div has made this not so good looking change in the website. As you can see an extra layer of whitish background behind the cards.

![image](https://user-images.githubusercontent.com/80257174/136685262-68decc34-27a7-4204-91c7-13cdf77bcab9.png)

Actually, it should look like this, clean and amazing.

![image](https://user-images.githubusercontent.com/80257174/136685299-170e4c3a-5d38-449

[2021-10-10 10:36] B0s0 commented on #378
This issue can be fixed by #385

[2021-10-10 15:38] abhisekmaiti19 commented on #114
I want to resolve this issue, please assign

[2021-10-10 19:06] md-jishan-ansari commented on #362
Please Assign this issue to @Aryan-kumar-mains

[2021-10-10 19:08] #378 closed

[2021-10-10 19:08] #362 closed

[2021-10-10 19:10] #367 closed

[2021-10-10 19:12] vikhyatsingh123 opened #396 "fix the navbar styling"
Put search button on the left side. Put home, about and dark mode button at the right side.

[2021-10-10 23:00] BarmenduC opened #400 "Summoning Jutsu"
The summoning just button for certain characters produce text in a box that is colliding with already present text and is not readable

[2021-10-12 17:41] vikhyatsingh123 commented on #396
@Bhawna147 Don't change the background color to blue.

[2021-10-13 15:04] ayushkr7 opened #438 "Add dark mode to home page"
I just tried dark mode but it had no effect on the home page. Also, please add any icons to specify the purpose of the toggle button.

[2021-10-13 15:11] TechnoFuge commented on #2
Hi, @vikhyatsingh123 I have added a new card Sound Four PR #440 which is a villain. Consider it for hacktoberfest.

[2021-10-13 15:37] ayushkr7 opened #441 "Hide "Scroll to top" button when user is already at top"
![Screenshot (208)_LI](https://user-images.githubusercontent.com/51288637/137161762-0c67930f-d94f-4c7b-8778-bcd79ee8752c.jpg)

The "Scroll to top" button is visible even when the user is at the top, we can keep it hidden until a certain amount of scroll has been done.

[2021-10-13 17:00] Utkarsh736 opened #443 "Theme toggle button"
The dark/light theme toggle doesn't cause any effect on the main content.

[2021-10-13 17:39] ayushkr7 commented on #441
@harmanbatheja15 please mention in your PR  description that it will close issue #441

[2021-10-13 18:14] neerajmenon29 commented on #1
i would like to contribute can u assign me

[2021-10-14 12:17] itsPrajapat commented on #438
Could you please assign this issue to me

[2021-10-16 13:42] FirdausJawed opened #464 "i want to do some contribution in cp"
i will add questions of codechef

[2021-10-17 18:11] #240 closed

[2021-10-17 18:12] #396 closed

[2021-10-17 18:12] #438 closed

[2021-10-17 18:13] #441 closed

[2021-10-17 18:13] #443 closed

[2021-10-17 21:59] raxvab commented on #114
I've watched 720 EPs of Naruto in a month... Can I get a chance to complete this task.
Thank you

[2021-10-21 15:27] jay-deep commented on #114
Can you assign this to me? Please

[2021-10-21 17:36] real-phoenix commented on #114
Dattebayooo !!!!
@vikhyatsingh123 please assign this to me !

[2021-10-30 05:24] SLICKjp commented on #2
hey @vikhyatsingh123, I have added a new character card. Please merge my PR. #605. Thank you..

[2021-10-30 08:03] SrikarGidugu commented on #2
Hey @vikhyatsingh123 , I have added the character card of Isaribi. Please review it. PR #615

[2021-10-30 10:29] amirvincent64 commented on #243
@vikhyatsingh123
After each update/commit, there are still problems with the card section.
I think we should make a rule to ensure that every code of commits about new character can be put into the container

[2021-10-30 10:29] amirvincent64 commented on #243
@vikhyatsingh123
After each update/commit, there are still problems with the card section.
I think we should make a rule to ensure that every code of commits about new character can be put into the container.

[2021-10-30 10:37] amirvincent64 commented on #378
related to #243

[2021-10-30 13:45] srimanpravardhan commented on #2
hey @vikhyatsingh123, I have added a new character card of kimimaro. Please merge my PR. #614 . Thank you..

[2021-12-14 14:34] tausif39 opened #645 "Watch "Free Ka Tree Series | Binary Trees | Binary Search Trees" on YouTube"
https://youtube.com/playlist?list=PLgUwDviBIf0q8Hkd7bK2Bpryj2xVJk8Vk

[2022-01-21 18:33] mciruzzi1 commented on #2
Hey! I would love to add some characters if possible :D

[2022-04-20 08:42] kevinmody commented on #1
hey @vikhyatsingh123 i would love to contribute can you assign this to me please. Or can i just make a pr ?

[2022-04-21 03:09] awgarri commented on #2
Hi! I would love to add some new characters to the page!

[2022-04-26 01:04] shagen9285 commented on #2
Hi, I made some Pull Requests with some new characters for the site :)

[2022-04-28 04:34] shagen9285 commented on #2
@vikhyatsingh123 I fixed the merge issue with the Gamatatsu pull request

[2022-06-25 19:02] dchroninger commented on #1
I know this is old, but I've submitted a PR with some syntax corrections and reformatted index.html to make it easier to follow and read. Hopefully it's good enough to merge. lol

[2022-09-29 06:09] #1 closed

[2022-09-29 06:09] #2 closed

[2022-09-29 06:09] #645 closed

[2022-09-29 08:29] Ujjawal3 opened #667 "Dark Mode button not functional"
HI, Currently UI of dark mode button looks odd and is not functional. Can I work on improving the UI of button and making it functional?

[2022-09-29 08:53] vikhyatsingh123 commented on #667
Sure

On Thu, Sep 29, 2022, 2:00 PM Ujjawal Modi ***@***.***> wrote:

[2022-09-29 09:30] ampsteric opened #668 "Adjust the back to top Button above the last card"
The back-to-top button at the bottom of the page gets hidden under the cards, hence it should always be at the top of all the cards for a better user experience.

Please assign this issue to me as a part of hacktoberfest.

[2022-09-29 20:49] georgioupanayiotis commented on #668
@ampsteric  can you please assign this to me?

[2022-09-30 03:54] vikhyatsingh123 commented on #668
Wait for 1 oct

On Fri, Sep 30, 2022, 2:19 AM Panayiotis Georgiou ***@***.***>
wrote:

[2022-09-30 06:14] ampsteric commented on #668
@georgioupanayiotis I am not the owner of the repository , I have raised an issue so that I can be assigned to it and start working.

@vikhyatsingh123 yeah sure.

[2022-09-30 19:34] ManashAnand commented on #667
I also want to fix it . please assign me also

[2022-10-01 07:23] Welf06 opened #678 "whitespace in the right and low res landing page images"
![image](https://user-images.githubusercontent.com/85446331/193398045-848d21ed-6b4c-4050-9941-a6bfff568d92.png)
I am willing to fix these 2 things, please assign it to me

[2022-10-01 10:09] Mahekjain2706 commented on #678
Hey, I want to solve this issue, can you assign it to me?

[2022-10-01 13:08] Shubhcs01 opened #687 "update Readme for Hacktober 2022"
Currently Readme is showing Hacktober 2021 image and description.

[2022-10-01 13:47] Natan7 commented on #687
And add label hacktoberfest-accepted

[2022-10-01 14:22] moksh2212 commented on #687
can i go for this?

[2022-10-01 14:54] Shubhcs01 commented on #687
I don't have access permission to create hacktoberfest-accepted label🤔

[2022-10-01 15:05] bugsyy157 opened #690 "Boruto character image link is broken"

[2022-10-01 17:05] ARYAN-CODES-STAR opened #692 "Screen is not fully adjusted as we scroll aside"
i am talking about that orange portion in next comment

[2022-10-01 17:09] ARYAN-CODES-STAR commented on #692
![Screenshot (109)](https://user-images.githubusercontent.com/78686630/193420406-b1db5347-1ab5-4a79-8a92-eb1e6ea2ba13.png)

[2022-10-01 19:25] ARYAN-CODES-STAR opened #694 "Alignment of Image and text properly"
I want to work on image and text alignment for Hactober'22

[2022-10-01 21:26] anmolkulshrestha opened #695 "can i add card of kae Yukiwari as part of hacktoberfest"

[2022-10-02 05:12] bugsyy157 commented on #690
@vikhyatsingh123 Please review my PR and if valid approve it :)

[2022-10-02 08:38] saiwali commented on #694
Hey @ARYAN-CODES-STAR  I would like work on this issue. I can make the images look better actually

[2022-10-02 11:37] ampsteric commented on #668
@vikhyatsingh123 it would be very helpful if you can please review it as soon as possible and merge it or label it as "hacktoberfest-accepted"

[2022-10-02 14:12] vikhyatsingh123 commented on #695
sure

[2022-10-02 14:19] shreyashkr17 opened #702 "click to top (button) issues"
![image](https://user-images.githubusercontent.com/97216718/193458842-64233345-62e8-4972-b1bd-1a61a0ec60eb.png)

[2022-10-02 14:19] shreyashkr17 commented on #702
this button is out of windows size page

[2022-10-03 04:16] ampsteric commented on #702
I have already fixed it in my recent PR

[2022-10-03 06:55] shreyashkr17 commented on #702
okay.

[2022-10-03 08:23] vedsom opened #708 "Want to modify navigation tabs and about section"
Hey, @vikhyatsingh123 I want to improve your navigation tabs by reducing excess space, beautiful hover effect, and giving additional contribution by writing a good about section for your repository. So kindly assign me this issue under hacktoberfest 22

[2022-10-03 08:58] Sanjanabharadwaj25 opened #709 "Redesign cards"
The cards can have information that is shown to the user when the user hovers over the card.
I would like to work on this issue under hacktober fest 2022.

[2022-10-03 12:12] Olaf51 commented on #708
hey, i want to improve your navigation tabs, please assign it to me.

[2022-10-03 16:51] darshikaguptaa commented on #678
Hey @vikhyatsingh123 , I want to work on this. Please assign this issue to me.

[2022-10-03 17:11] darshikaguptaa commented on #692
Hey, I'm interested in working on the issue. Please assign it to me.

[2022-10-03 17:15] ARYAN-CODES-STAR commented on #692
I am actually interested and that's why I created this issue.

[2022-10-03 17:33] Harsh8084 commented on #694
Hi @vikhyatsingh123 please assign this issue to me. I organise the image and text part  so that the website will look attractive.

[2022-10-03 19:28] yosaami commented on #694
Hey, @vikhyatsingh123, please assign this project on image and text alignment.

[2022-10-03 20:05] #692 closed

[2022-10-03 20:19] Adityasaini10012001 commented on #678
Hey @vikhyatsingh123 can you please assign this to me.

[2022-10-03 20:20] Adityasaini10012001 commented on #708
Hey , please assign this to me

[2022-10-04 15:22] Hanuvesh commented on #708
hey , i am newbie in open source please assign me this

[2022-10-04 18:21] vikhyatsingh123 commented on #709
Sure, do it and attach screenshots or gif too

[2022-10-04 18:23] vikhyatsingh123 commented on #708
@vedsom created an issue so he will be assigned for this issue first.

[2022-10-04 18:25] vikhyatsingh123 commented on #702
@shreyashkr17 it's still not fixed. So, do that one

[2022-10-04 18:28] #667 closed

[2022-10-04 18:29] #668 closed

[2022-10-04 18:29] vikhyatsingh123 commented on #694
@ARYAN-CODES-STAR do it

[2022-10-04 18:30] #687 closed

[2022-10-04 18:31] #695 closed

[2022-10-04 18:34] shreyashkr17 commented on #702
Okay sir i will do it.

[2022-10-04 18:54] vedsom commented on #708
Thanku @vikhyatsingh123 . Could you please attach hacktoberfest tag so that it can be counted.

[2022-10-05 06:19] sanjana317 opened #728 "Add card of character yamato"
Can I add a card of Yamato as a part of hactoberfest?

[2022-10-05 06:26] #728 closed

[2022-10-05 06:30] sanjana317 opened #729 "Add Amado card"
Can I add a card for Amado as a part of hacktoberfest?

[2022-10-05 12:45] hamzailyas237 commented on #709
Can I work on this issue ?

[2022-10-05 12:50] Priyanshup891 opened #736 "navigation links and button styling"

[2022-10-05 14:34] vikhyatsingh123 commented on #709
@hamzailyas237 Sure. Also attach screenshots too

[2022-10-05 17:20] Ritika122001 opened #738 "Addition of a New Card"
I would like to add a new Card to the website.
Kindly assign it to me.

[2022-10-06 01:57] PGautam27 opened #746 "Want to add naruto kyubi mode card."
I checked it there's no naruto kyubi mode card. I would like to add it.

[2022-10-06 02:01] PGautam27 commented on #746
Would you assign it to me

[2022-10-06 07:35] Nikhil170404 commented on #736
I want to work on image and text alignment for Hactober'22

[2022-10-06 07:36] Nikhil170404 commented on #736
I want to work on navigation links and button styling for Hactober'22

[2022-10-06 09:49] Nanncyy commented on #736
I am also looking forward to contribute in projects for Hactober'22

[2022-10-07 05:28] AndrickSilva opened #758 "Add smooth scroll"
Hi Vikhyat, Can I please add smooth scroll to your website on back to top button.
Thank You

[2022-10-07 05:30] AndrickSilva opened #759 "Add style to Dark mode button"
Also can I add style to the dark mode button

[2022-10-07 07:43] AyonChowdhury1307 commented on #759
Hey vikhyat singh please assign me i can add style to Dark mode button .

[2022-10-07 15:09] Chaim-007 commented on #758
HI Vikhyat, It is with great pleasure I want to contribute to your code to add smooth scroll in your website. It will be highly grateful if I can get your permission to add it.
Thank you!

[2022-10-07 19:07] RAJEEVKUMAR9598 commented on #759
please sir give me this task..

[2022-10-08 17:03] KinGVipEr01 commented on #759
Hi sir! newbie to this fest and want to go with this project.
Thankyou !

[2022-10-08 17:13] vikhyatsingh123 commented on #759
you all can give a try

[2022-10-08 17:14] #678 closed

[2022-10-08 17:14] #690 closed

[2022-10-08 17:14] #694 closed

[2022-10-08 17:14] #702 closed

[2022-10-08 17:15] #708 closed

[2022-10-08 17:15] #709 closed

[2022-10-08 17:15] #729 closed

[2022-10-08 17:16] vikhyatsingh123 commented on #736
attach screenshots with pr

[2022-10-08 17:17] #738 closed

[2022-10-08 17:17] #746 closed

[2022-10-08 18:18] Neerajbhatia007 commented on #759
Hi,
added a toggle instead of dark mode button allow this task to me @vikhyatsingh123

[2022-10-08 19:59] Purvesh77 opened #781 "Text is going out of the box"
![Screenshot (6)](https://user-images.githubusercontent.com/107318324/194725766-3b6db402-dd05-4a2b-b9aa-9ae8b776efaa.png)

[2022-10-08 20:00] Purvesh77 commented on #781
@test999 @vctc @c99SRS @Natan7 I will work on this issue
Can anybody assign me this task ?

[2022-10-09 10:46] abhishekbisht-1 commented on #781
Please assign me this task I will do it for sure

[2022-10-09 10:48] Neerajbhatia007 commented on #781
Hi,
I have done this task please assign it to me so that I can push my changes @Purvesh77 @vikhyatsingh123

[2022-10-09 10:50] #781 closed

[2022-10-09 11:29] rajatrai30 opened #791 "ADD RESPONSIVE FOOTER TO THE WEBPAGE"
Heyy @vikhyatsingh123
I can add footer to this application.
I want to you to assign me with this issue raised.

[2022-10-09 11:35] CoderDebjeet commented on #791
Heyy @vikhyatsingh123
I can add footer to this application.
I want to you to assign me with this issue raised.

[2022-10-09 15:14] anirudh270 commented on #791
Hey @vikhyatsingh123 , I would like to contribute to ur application.

[2022-10-09 15:49] AndrickSilva commented on #759
Hi @vikhyatsingh123 i have fixed the smooth scroll and dark mode button and opened pr
Hope you like it.
Thankyou 😄

[2022-10-09 18:27] abhishekbisht-1 commented on #791
i have solved the issue please accept my pull request. This is the link of screenshots of my work. Hope you like it.
https://drive.google.com/drive/folders/1sr3SL6L7YINAYyDdBnY0ZUI07RccF7kO

[2022-10-10 03:10] ChandanP007 opened #798 "Homepage can be responsive. Characters card should adjust in small screens."
![image](https://user-images.githubusercontent.com/95927947/194794293-a030e2e8-cb6b-491e-81cf-0e8bf42ea352.png)
@vikhyatsingh123
I can make the home page look more appealing, can add some animations. Please assign me this issue.

[2022-10-10 06:29] Sejal-shh commented on #791
Hey @vikhyatsingh123 , I have solved this issue of adding responsive footer to the webpage.
Kindly assign me with the issue raised.

[2022-10-10 12:26] PravinPadalkar78 opened #805 "character changes"
Sanae is not naruto anime character
![image](https://user-images.githubusercontent.com/94164210/194865919-25fa6f95-4a30-4dfd-a546-cca423f2f0c0.png)
Please assign this issue to. #hacktoberfest #enhancement

[2022-10-10 17:32] itsaman123 commented on #759
hey @vikhyatsingh123 please assign me this issue

[2022-10-10 17:37] vikhyatsingh123 commented on #791
@abhishekbisht-1 drive folder is not shareable

[2022-10-10 23:28] harshvardhan614 opened #810 "Updating About Page Section"
Hi @vikhyatsingh123 pls assign this issue to me

[2022-10-10 23:29] harshvardhan614 opened #811 "Updating About PAge HEader and footer"
hey @vikhyatsingh123 pls assign this issue to me

[2022-10-11 08:06] vikhyatsingh123 commented on #668
Ok, do it

On Thu, Sep 29, 2022, 3:00 PM Shashwat Mishra ***@***.***>
wrote:

[2022-10-11 08:32] vikhyatsingh123 commented on #692
I Will assign you

On Mon, Oct 3, 2022, 10:46 PM Vikhyat Singh ***@***.***>
wrote:

[2022-10-11 09:10] vikhyatsingh123 commented on #692
Fork it and create PR.

On Mon, Oct 3, 2022, 10:45 PM ARYAN-CODES-STAR ***@***.***>
wrote:

[2022-10-11 15:47] #798 closed

[2022-10-11 17:11] psantosh16 opened #820 "Card UI is not positioned well"
Hey,
@vikhyatsingh123
Assign this issue to me and I will start to contribute  to it asap.
Thank You.

## Problem :-

1. Individual Character cards are not positioned and this makes UI as well as UX bit wrong. And cause bad impression on user.
2. Some Images are not rendering properly.

![Screenshot 2022-10-11 at 10 36 13 PM](https://user-images.githubusercontent.com/99491679/195157903-f1b124e4-000

[2022-10-11 18:16] psantosh16 commented on #820
Successfully resolved this issue  , please take look at this MR/PR request and approve it with hacktoberfest & hacktoberfest-accepted label .

PR -> Fixed Image issue and improved UI of website #821

Thank You ,
@vikhyatsingh123

[2022-10-11 19:34] harshneolia commented on #736
Assign this to me Sir....I can Do it

[2022-10-11 19:36] mandiraghosh783 opened #823 "Add card- Ebizo"
I have checked the entire list of cards and it doesn't contain ebizo. Kindly assign me to solve this issue.
@vikhyatsingh123

[2022-10-11 19:38] mandiraghosh783 opened #824 "Add card- Yugao"
Yugao is not there in the list of cards. kindly assign me this task to add the card.
@vikhyatsingh123

[2022-10-11 19:41] mandiraghosh783 opened #825 "Add card- Nekobaa"
Let me add nekobaa card. please assign me this issue.
@vikhyatsingh123

[2022-10-11 21:27] Debopom-Banerjee commented on #825
Hello @vikhyatsingh123 can I work on this issue.

[2022-10-12 17:34] SantoshAnand271 commented on #825
Hello Sir i can do this can you assign this to me

[2022-10-12 17:34] SantoshAnand271 commented on #824
Hello sir can i do this

[2022-10-12 17:41] SantoshAnand271 commented on #811
Hello sir can you assign this issue to me

[2022-10-13 03:42] animesh045 commented on #810
Hi @vikhyatsingh123 pls assign this issue to me

[2022-10-13 03:53] animesh045 opened #840 "Improving the frontend of home page"
Hi @vikhyatsingh123 I've found somechanges in appearance of home page like there could be 3 cards rather than 2 and last 2 cards are misplaced + missing pics. 3rd card is kind of looking very strange.

I'll try give my best to it.
Please assign this issue to me.

**Thank you
Animesh**

[2022-10-13 13:28] Rohans-7 commented on #840
Hey @vikhyatsingh123 Can you assign this issue to me. It would be really for me as a beginner. I have worked on some projects in my college I can use that knowledge here.
Please assign this issue to me.
Thank you.

[2022-10-13 18:44] #824 closed

[2022-10-13 18:44] #825 closed

[2022-10-14 01:17] harshvardhan614 commented on #810
Hi @vikhyatsingh123, merge my PR #846

[2022-10-14 14:51] shivjha-2712 commented on #758
This has been done so could you please close this and merge my pull request as well #838

[2022-10-15 06:52] And-Rahul commented on #811
I have pretty good experience in this field. Can you assign me this issue?

[2022-10-15 06:57] And-Rahul commented on #820
I have pretty good experience in this field. Can you assign me this issue?

[2022-10-15 17:14] vikhyatsingh123 opened #864 "Change the readme section where code template is written to the updated one"
you can take help from the code present for the website

[2022-10-15 17:43] Satyabrat-Ojha commented on #864
@vikhyatsingh123 I got the task, can you please assign it to me

[2022-10-15 18:02] Satyabrat-Ojha commented on #864
@vikhyatsingh123 please check it out

[2022-10-17 12:02] Nilesh179 commented on #864
Hey, I want to try make a pull request as I don't really know exactly how it's done so can you please assign this task to me.

[2022-10-17 19:06] vedant-gawande opened #888 "Adding New character"
Could you please assign me this issue to add a new character which isn't in your collection yet

[2022-10-17 21:44] ankit060801 commented on #888
please assign me this task

[2022-10-18 05:44] MashyBasker opened #893 "Wrong Image for Anko Mitarashi"
The thumbnail image for Anko Mitarashi in the website is of Minato Namikaze.

[2022-10-18 08:53] IamAshrafSyed commented on #893
kindly pls assign it to me already did the changes above

[2022-10-18 09:27] IamAshrafSyed opened #898 "Fugaku,Mito Uzumaki, Hanzo, image is not loading"
I will work on this issue and solve it .

[2022-10-18 09:59] IamAshrafSyed commented on #898
solved this and present with the PR of #893

[2022-10-18 10:05] IamAshrafSyed opened #899 "Kakuzu card is 100% in width and had wrong attributes"

[2022-10-18 12:18] MashyBasker commented on #893
Hi @IamAshrafSyed I've already worked on the aforementioned issue. You can contact the maintainer for the issue #898 and #899

[2022-10-18 12:34] IamAshrafSyed commented on #893
Sure will tq

On Tue, 18 Oct, 2022, 5:49 pm Maharshi Basu, ***@***.***>
wrote:

[2022-10-18 16:53] #864 closed

[2022-10-18 17:09] #899 closed

[2022-10-18 17:09] #898 closed

[2022-10-19 06:07] priyanshi-git opened #903 "Image not rendering for Yamato"
Can I work on this issue and add another picture for yamato ?

![image](https://user-images.githubusercontent.com/82112540/196610133-7c35397b-bbcf-4a7b-9b0e-0966f28c446c.png)

[2022-10-19 06:13] Kokonodray2001 commented on #903
can i do this ?

[2022-10-19 06:14] Kokonodray2001 commented on #903
plzz assign this to me

[2022-10-19 11:18] #888 closed

[2022-10-19 17:48] ItsAshrafSyed opened #908 "Footer misplacement when toggled dark mode"
worked on it and sent PR

[2022-10-21 19:54] shradham2612 commented on #840
Hey @vikhyatsingh123
I have worked  on some frontend designing projects and I think that I will be able to add some cool effects to this project
please assign me this task

[2022-10-22 14:59] Viren0602 commented on #791
Hello sir , can you assign this issue to me?

[2022-10-22 15:00] Viren0602 commented on #811
Hello sir , can you assign this issue to me?

[2022-10-22 18:01] #908 closed

[2022-10-22 19:55] phoniex1629 opened #936 "Contact Us page missing"
I can create a contact us page, with the information of username, email, phone no, message and a send option.

I have already created a contact us page before so I can do it.

Please assign me this under HactoberFest2022 tag.

[2022-10-22 20:00] phoniex1629 opened #937 "Working of search button"
Search button is not functioning, it is not giving results.

I have implemented search buttons before, so I can make it here too.

Please assign me this under the tag of HactoberFest2022 tag.

[2022-10-23 18:08] akanshkumar1 opened #947 "hactoberfest issue for PR"
hactoberfest issue for PR

[2022-10-23 21:58] ogooluwanick commented on #810
Hello, has this issue been resolved?

[2022-10-24 11:16] Swadeshit27 opened #953 "footer section responsive and add social icons"

[2022-10-24 11:18] Swadeshit27 commented on #953
your footer section is not responsive for phone and i want to add social icons.please assign me this issue.
![footer section](https://user-images.githubusercontent.com/97722877/197514126-0809c4ac-eec9-4bc7-82cd-7ad563e380a0.png)

[2022-10-24 17:58] UltimateDip opened #955 "Serious UI issue"
## The cards are all messed up as you can see.
![image](https://user-images.githubusercontent.com/68418035/197593000-45250324-e2ae-40d3-9ecb-af348fc02be5.png)

## Some cards don't have images also
![image](https://user-images.githubusercontent.com/68418035/197593728-b181f3f9-ad0f-4672-94d7-b37843db8dfc.png)

[2022-10-24 17:59] UltimateDip commented on #955
I have some fixes in mind, can you please assign this to me

[2022-10-24 22:32] beatrizsmerino opened #960 "Wrong `line-height` in the `About` heading"
I found a bug in the mobile version of the page about. The title text `This Project Is Developed by Vikhyat Singh` has a very small `line-height`.

![Mobile Title](https://user-images.githubusercontent.com/14045148/197645247-952229ac-6a9b-42f7-be03-df2df52fedde.png)

[2022-10-24 22:38] beatrizsmerino commented on #960
@vikhyatsingh123 Can I help you with this?
I'm having a hard time finding a project to participate in for this year's `hacktoberfest`, if you could add the label it would help me a lot.

[2022-10-25 00:51] beatrizsmerino opened #962 "Wrong `height` of the text box on the About page"
In the about page the height of the text box is relative to the height of the window and cuts off the content. In this case either leave it on auto or you can add a scroll.

![Text box](https://user-images.githubusercontent.com/14045148/197656434-ce65e0f8-e676-4c75-a197-ecdfad440ad3.png)

[2022-10-25 00:51] beatrizsmerino commented on #962
Please add the `hacktoberfest` label

[2022-10-25 01:21] beatrizsmerino commented on #962
Please add the hacktoberfest label

[2022-10-25 04:30] vikhyatsingh123 commented on #960
Sure, you can do it

[2022-10-25 04:31] vikhyatsingh123 commented on #960
Hacktoberfest label isn't needed. Once your pr merged, it will automatically count under Hacktoberfest

[2022-10-25 05:54] Brainskull24 commented on #936
Can you pls assign this issue to me @vikhyatsingh123 ?

[2022-10-25 07:22] beatrizsmerino commented on #960
It is solved in the Pull Request https://github.com/vikhyatsingh123/Naruto-Shippuden/issues/961

[2022-10-25 07:25] beatrizsmerino commented on #960
If I think you may be right
![Hacktoberfest](https://user-images.githubusercontent.com/14045148/197709764-a0e72261-5be0-4cf5-abf0-155e208c3a01.png)

[2022-10-25 10:35] Esinnation opened #970 "I want to add a new card"
@vikhyatsingh123

[2022-10-25 10:56] #960 closed

[2022-10-25 18:13] #962 closed

[2022-10-25 19:17] harshkushwaah commented on #970
I can do that please assign this to me.

[2022-10-25 20:44] beatrizsmerino opened #976 "Flip Card"

[2022-10-26 03:19] #955 closed

[2022-10-26 08:46] vrinda-mahajan opened #979 "Width of some cards are not occupying the card background"
@vikhyatsingh123 I've found some issues with the character's card on the home page, the width of some of the cards are not occupying the card background ideally. I am attaching a screenshot for your reference.
![narutoCard](https://user-images.githubusercontent.com/72399705/197979194-567462f8-df97-4075-9004-a84844f19144.png)

[2022-10-26 09:58] vrinda-mahajan opened #981 "Footer is not placed at the end"
@vikhyatsingh123 I've found some issue with the footer on the home page, the footer is not placed at the end of the homepage. I am attaching a screenshot for your reference.
![footer](https://user-images.githubusercontent.com/72399705/197996681-db67dca2-bbf3-49da-99b1-7b42943d96c3.png)

[2022-10-26 10:01] #976 closed

[2022-10-26 10:28] beatrizsmerino opened #983 "HTML tags wrong closed"
![image](https://user-images.githubusercontent.com/14045148/198003491-fb263275-900d-4e50-8188-d384cb6a9a05.png)
![image](https://user-images.githubusercontent.com/14045148/198003302-65b93ad0-580c-4eef-982b-9b26c987ba4b.png)

[2022-10-26 10:30] beatrizsmerino commented on #983
I found this error, could you please assign me the task?

[2022-10-26 11:05] beatrizsmerino commented on #983
Solved in the PR: https://github.com/vikhyatsingh123/Naruto-Shippuden/pull/984

[2022-10-26 11:39] beatrizsmerino opened #986 "Missing `card-text` class from some paragraphs"
The text of the character description is inside a paragraph and this usually has the `card-text` class.
![image](https://user-images.githubusercontent.com/14045148/198016506-ae5c61e1-cb77-4691-b346-dcdcbc5095b2.png)

But I have seen that some have more than one paragraph and these do not have the class.
![image](https://user-images.githubusercontent.com/14045148/198016370-450b8c91-eb64-47ee-8a9e-8

[2022-10-26 11:46] beatrizsmerino commented on #986
@vikhyatsingh123 What do you think about this?

[2022-10-26 11:54] beatrizsmerino opened #987 "Missing `card_img` class from the character image"
The README file indicates that the character image must have the `card_img` class.
![image](https://user-images.githubusercontent.com/14045148/198018397-9e4296db-0507-4e0b-a321-8f669fab9254.png)

Some characters do carry the `card_img` class in the html tag `<img>`.
![image](https://user-images.githubusercontent.com/14045148/198018788-52fc6456-78ce-479e-bd3f-b395df134665.png)

But others do not. A

[2022-10-26 11:57] beatrizsmerino commented on #987
@vikhyatsingh123 What do you think about this?

[2022-10-26 12:01] beatrizsmerino commented on #986
This is the same situation that occurs with the issue https://github.com/vikhyatsingh123/Naruto-Shippuden/issues/987

[2022-10-26 12:02] beatrizsmerino commented on #987
This is the same situation that occurs with the issue #986

[2022-10-26 15:17] Esinnation commented on #970
i need you to merge my request

[2022-10-26 16:26] #986 closed

[2022-10-26 16:26] #987 closed

[2022-10-26 16:26] #981 closed

[2022-10-26 16:27] #979 closed

[2022-10-26 16:29] vikhyatsingh123 commented on #903
add other image links too

[2022-10-26 16:30] #820 closed

[2022-10-26 16:30] #947 closed

[2022-10-26 16:32] #736 closed

[2022-10-26 16:32] #758 closed

[2022-10-26 16:32] #759 closed

[2022-10-26 16:32] #791 closed

[2022-10-26 16:56] nidhi333-9 opened #992 "The brand-name of home page and about section is not similar."
@vikhyatsingh123 , I wanna work on it. Please, assign this to me!

[2022-10-26 17:20] vrinda-mahajan opened #993 "Last few card are overlapping"
@vikhyatsingh123  I've found some UI issues with the last few cards on the home page. Attaching a screenshot for your reference.
![card-overlapping](https://user-images.githubusercontent.com/72399705/198093645-3aebe8c8-2551-43b8-a160-89c36304c495.png)

[2022-10-26 17:26] beatrizsmerino opened #994 "Wrong some data of the `alt` attribute"
Some characters have in the `alt` attribute of the html tag `<img>`, a descriptive text with their name but others do not. Probably because the structure of another character has been copied and pasted and that part has not been edited.

![image](https://user-images.githubusercontent.com/14045148/198092663-58e217f1-9dfd-486d-93e9-6e215d8a35f5.png)

![image](https://user-images.githubusercontent.co

[2022-10-26 18:13] beatrizsmerino commented on #994
Thank you very much for accepting all my PR. Here is the last one

[2022-10-26 19:12] Swadeshit27 commented on #953
@vikhyatsingh123 Please checkout this.

[2022-10-27 08:47] #993 closed

[2022-10-27 08:48] #994 closed

[2022-10-28 01:41] nidhi333-9 commented on #992
It means that the logo name in the home page & in about page both aren't same.

[2022-10-28 01:42] nidhi333-9 commented on #992
I mean, the styling!

[2022-10-28 05:51] #840 closed

[2022-10-28 07:13] rrrs07 commented on #936
could please assign me this issue @vikhyatsingh123

[2022-10-28 07:15] rrrs07 commented on #970
@vikhyatsingh123 assign me this issue

[2022-10-28 07:16] rrrs07 commented on #811
@vikhyatsingh123 bro please assign this issue to me

[2022-10-28 19:49] iamsnehadas commented on #937
Hello, if this issue is still not resolved, can you please assign this to me? Thanks.

[2022-10-29 11:39] #992 closed

[2022-10-29 15:57] nancy0119 opened #1025 "Ebisu and Yamato images missing"
Pls assign me this issue. I can resolve it.

[2022-10-30 00:30] agataxmascarenhas opened #1029 "Add more frog cards"
hi! Is it ok if I add the following:
- Gamamaru
- Gamakichi
- Gamatatsu
I can do it right away! Thanks!

[2022-10-30 11:59] karthykarthick commented on #1025
can u assign me on this i can add **captain Yamato!** and Ebisu

[2022-10-30 12:10] karthykarthick opened #1030 "#1030 Yamoto cards are appeared Twice"
In characters section Yamoto cards are appeared Twice

[2022-10-30 12:58] supsa-ak commented on #1030
Can you explain me issue so I can work on it.

[2022-10-30 13:05] karthykarthick commented on #1030
Yamoto images or cards are appeared Twice in characters section
1. You need to remove 1 card thats all

[2022-10-30 15:19] vikhyatsingh123 commented on #1025
You can create pr. No need of getting assign

On Sun, Oct 30, 2022, 5:30 PM karthick ***@***.***> wrote:

[2022-10-30 17:59] #970 closed

[2022-10-30 17:59] #1025 closed

[2022-10-30 17:59] #1029 closed

[2022-10-30 17:59] #1030 closed

[2022-10-30 18:00] #893 closed

[2022-10-30 18:00] #903 closed

[2022-10-30 18:00] #810 closed

[2022-10-30 18:00] #811 closed

[2022-10-30 18:00] #953 closed

[2022-10-30 18:02] #937 closed

[2022-10-30 18:08] vikhyatsingh123 opened #1034 "Add new card"
You can take help from code's template present in readme section